/*Declaración de Variables Generales*/
:root {
  /*Variables de color*/
  --general-bg: #F2F2F2;
  /*Variables de color de texto*/
  --accent-color: #FF5B00;
  --blog-color: #EF254C;
  --principal-color-title: #1B1B1B;
  --principal-color-subtitle: #3A3A3A; 
  --principal-color-text: #606060;
  --general-color-text: #606060;
  --darker-color-text: #7F7F7F;
  --general-color-white: #fff;
  /* variables de background */
  --background-circles: #939393;
  /* variables de background circulos*/
  --background-circle-blue: #5CA1FB;
  --background-circle-yellow: #E9A727;
  --background-circle-orange: #DE5B15;
  /*Variables de texto*/
  --orange-title: 600;
  --remarkable-text: 500;
  --plain-text:300;
  /*Variables de tamaño de texto*/
  --body-size: 16pt;
  --body-size-esp: 14pt;
  --big-button-size: 19pt;
}
body {
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
}
li,ol{
  font-weight: var(--plain-text);
  font-size: var(--body-size);
  color: var(--principal-color-text);
}
.normal-list li{
  font-weight: 400;
}
.semibold{
  font-weight: var(--orange-title);
}
.light{
  font-weight: var(--plain-text);
}
.circles-info{
    height: 210px;
    border-radius: 50%;
    background-color: var(--background-circles);
}
.primary-background{
    background-image: url(../images/shutterstock_525950377.jpg);
    background-size: cover;
    background-position: bottom;
    filter: grayscale(100%);
    height: 730px;
}
.bg-pEducativo{
    background-image: url(../images/shutterstock_393685243.jpg);
}
.bg-dae{
    background-image: url(../images/bg-img-dae.png);
}
.bg-gp-v3{
    background-image: url(../images/bg-img-gp-v3.png);
}
.bg-destrategico{
    background-image: url(../images/bg-img-dEstrategico.png);
}
.bg-books{
    background-image: url(../images/bg-img-books.png);
}
.bg-fachada{
    background-image: url(../images/FACHADA_NOCHE.png);
}
.bg-curricular{
    background-image: url(../images/bg-img-curricular.png);
}
.bg-egresados{
    background-image: url(../images/bg-img-egresados.png);
}
.bg-inclusion{
    background-image: url(../images/bg-img-inclusion.png);
}
.bg-vida-universitaria{
    background-image: url(../images/bg-img-vidauniversitaria.png);
}
.bg-office{
    background-image: url(../images/bg-img-office.png);
}
.bg-psicoeducativo{
   background-image: url(../images/bg-img-psicoeducativo.png);
}
.bg-radio{
   background-image: url(../images/bg-img-radio.png);
}
.bg-vinculacion{
   background-image: url(../images/bg-img-vinculacion.png);
}

.secondary-background::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/shutterstock_275974664.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: grayscale(100%);
}
.secondary-background-dEstrategico{
    width: 100%;
    height: 100%;
    background-image: url(../images/shutterstock_234929116.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: grayscale(100%);
    padding: 200px 0px;
}
.separator-color{
    border-top: 3px solid var(--accent-color);
}
.separator-gray{
  border-top: 3px solid var(--general-color-text);
}
.separator-gray{
    border-top: 3px solid var(--general-color-text);
}
.title-color{
    color: var(--accent-color);
}
#accordionCifras h4.gray-title{
  color: var(--general-color-text);
}
#accordionCifras h4.gray-title{
   color: var(--general-color-text);
}
.bg-accent{
    background-color: var(--accent-color);
}
.bg-circle-blue{
  background-color: var(--background-circle-blue)
}
.bg-circle-orange{
  background-color: var(--background-circle-orange)
}
.bg-circle-yellow{
  background-color: var(--background-circle-yellow)
}
.p-bottom-8{
    padding-bottom: 8rem;
}
.p-top-100{
    padding-top: 100px;
}
.m-bottom-n-160{
    margin-bottom: -160px;
}
.m-bottom-n-6{
    margin-bottom: -6rem;
    bottom: 0;
    right: 50px;
    left: 50px;
}
.text-size-body{
    font-size: var(--body-size);
}
.text-size-esp{
    font-size: var(--body-size-esp);
}
.card-me .card{
    border:0;
}
.card-me .card .card-img-top{
    width: 40%;
}
.main-container{
    position: relative;
    margin-top: -490px;
}
.main-container-2{
  position: relative;
  margin-top: -110px;
}
.main-container-cv {
  position: relative;
  margin-top: -315px;
}
.subtitle{
  font-weight: var(--remarkable-text);
}
.accent{
  color: var(--accent-color) !important;
}
.subtitle700{
  font-weight: 700;
}
.accordion-plus .fa-stack { 
  font-size : 1.6em; 
}
.accordion-plus i {
   vertical-align: middle; 
}
.accordion-plus h4{
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: var(--remarkable-text);
  color: var(--principal-color-title);
}
.accordion-plus .card-header {
    background-color: #fff;
    border-bottom: .25em solid var(--accent-color);
    cursor: pointer;
}
.accordion-plus .card{
  border: none;
}
h1.principal-title {
    font-size: 3rem;
}
h1.principal-title-only{
  font-size: 3rem;
  margin-top: -15px;
}
h1.principal-title:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 35px;
    margin-left: -60px;
    margin-right: 2.2rem;
    background-color: var(--accent-color);
}
h4.principal-title-only:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 45px;
    margin-left: -25px;
    margin-right: 1rem;
    background-color: var(--accent-color);
}
.p-space{
    padding-top: 150px;
}
.accent-divisor{
    background-color: var(--accent-color);
    width: 4rem;
    height: 0.4rem;
}
.accent-line{
  border-bottom: .3rem solid var(--accent-color);
}
.description-p{
  font-size: 16px;
}
.tab-btn{
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background: transparent;
    font-weight: var(--orange-title);
    transition: .4s;
    font-size: 14pt;
}
.tab-btn:hover, .tab-btn.active{
    color: var(--general-color-white);
    background: var(--accent-color);
    transition: .4s;
}
.directorio .card .card-text{
  font-size: large;
}
.directorio .card {
    border: none;
    border-radius: none;
}
.directorio .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.directorio .card h5{
    font-size: 1.12rem;
}
.gray{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: .4s;
}
 .card .gray:hover{
  filter: grayscale(0%);
  transition: .4s;
}
.directorio .gray:hover{
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
  transition: .4s;
}
.text-general{
  color:var(--general-color-text);
}
.history p.text-size-body{
    font-weight: var(--plain-text);
    color:var(--general-color-text);
}
.gestion p.text-size-body{
    color: var(--general-color-text);   
}
.gestion h4, .person-box h3{
   font-weight: 600;
   color: var(--general-color-text);
}
.slick-prev, .slick-next {
    top: 102%;
    z-index: 1;
}
.slick-prev{
    left: 370px;
} 
.slick-next {
    right: 370px;
}
.slick-prev:before, .slick-next:before{
    color: #606060;
    font-family: "Font Awesome 5 Free" !important;
    font-size: 26px;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #FF5B00;
}
.circles-mobile{
    display: flex;
  }
.responsive-circles{
    display: none;
  }
  .circles {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ff5b00;
  }
  .carousel-indicators {
    position: absolute;
    bottom: -40px;
    z-index: 15;
  }
  .carousel-control-prev-icon{
    background: none !important;
  }
   .carousel-control-prev-icon:before, .carousel-control-next-icon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 30px;
}
  .carousel-control-prev-icon:hover:before, .carousel-control-next-icon:hover:before{
    color: var(--darker-color-text);
   }
  .carousel-control-prev-icon:before {
    content: '←';
}
  .carousel-control-next-icon:before {
    content: '→';
}
    
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: -1.5rem;
    z-index: 20000;
    display: -ms-flexbox;
    display: inline-table;
    -ms-flex-align: center;
    align-items: start;
    -ms-flex-pack: center;
    justify-content: flex-start;
    width: 15%;
    color: gray !important;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-next{
  right: 17rem;
}
.carousel-control-prev{
  left: 17rem;
}
figure.cta-gestion{
  position: relative;
}
.cta-gestion .figure-caption{
    position: absolute;
    width: 100%;
    bottom: 2.5rem;
    z-index: 100;
}
.btn-shadow{
    box-shadow: 5px 0.5rem 0.9rem black;
}
a.btn-shadow{
    font-size: 1.2rem;
}
.cta-gestion h3{
    font-size: 2.3rem;
    margin-bottom: 0;
}
.cta-gestion h2{
    font-size: 2.9rem;
    margin-bottom: 0;
}
.boxed-btn-gp{
  padding-top: 4rem;
}
.principios{
  position: relative;
}
.accent-background, .accent-box{
  background-color: var(--accent-color);
}
.mv-text .accent-box{
  height: 550px;
}
.principios .accent-background{
    background-image: none;
    filter: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 72rem;
}
.bg-transparent{
  background-color: transparent !important;
}
.table-cifras h4{
  font-weight: 700;
  color: var(--accent-color);
  text-transform: none;
}
.table-cifras h4.title-gray{
  font-weight: 700;
  color: var(--general-color-text);
}
.table-cifras .years, .years{
  color:  var(--general-color-text); 
}
.table-cifras th, .table-cifras td{
  font-size: 20px;
  font-weight: 400;
  border: none;
  color: var(--general-color-text);
}
.table-cifras thead th{
  border-bottom: 2px solid var(--general-color-text) !important;
}
.Emplebilidad-table thead .no-brd{
  border-bottom: 2px solid transparent !important;
}
.table-cifras .result{
  border-top: 2px solid var(--general-color-text);
  border-bottom: 2px solid var(--general-color-text);
}
.larger-text{
  font-size: 22px;
}
.larger-text-xl{
  font-size: 24px;
}
.Emplebilidad-table h4{
  font-size: 19px;
}
img.img-special{
   width: 220px;
}
.img-top{
  position: absolute;
  width: 470px;
  height: 490px;
  right: 20px;
  z-index: 1;
  border: 10px solid #fff; 
  }
  .img-bottom{
  position: relative;
  width: 470px;
  height: 490px;
  right: -66px;
  top: -100px;
  border: 10px solid #fff;
  }
  .bottom-100{
    bottom: 100px
  }
  .bottom-123{
    bottom: 123px;
    left:31px;
  }
  .margin-top-60n{
    margin-top: -60px;
  }
  .p-circles-dEstrategico{
    padding-left: 5px;
    padding-right: 5px;
  }
  .circles-dEstrategico{
    width: 17rem;
    height: 17rem;
    font-size: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.table-cifras h4{
  font-weight: 700;
  color: var(--accent-color);
  text-transform: none;
}
.table-cifras h4.title-gray{
  font-weight: 700;
  color: var(--general-color-text);
}
.table-cifras .years, .years{
  color:  var(--general-color-text); 
}
.table-cifras th, .table-cifras td,.price-table .table-striped th, .price-table .table-striped td{
  font-size: 20px;
  font-weight: 400;
  border: none;
  color: var(--general-color-text);
}
.table-cifras thead th{
  border-bottom: 2px solid var(--general-color-text) !important;
}
.Emplebilidad-table thead .no-brd{
  border-bottom: 2px solid transparent !important;
}
.table-cifras .result{
  border-top: 2px solid var(--general-color-text);
  border-bottom: 2px solid var(--general-color-text);
}
.larger-text{
  font-size: 22px;
}
.larger-text-xl{
  font-size: 24px;
}
.Emplebilidad-table h4{
  font-size: 19px;
}
img.img-special{
   width: 220px;
}
ul.list-registro{
  list-style: none;
}
ul.list-vinculacion{
  list-style: none;
}
ul.list-registro li {
  font-weight: 400;
}
ul.list-registro li::before {
  content: "\2022";
  color: var(--accent-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
ul.list-vinculacion li::before {
  content: "\2022";
  color: var(--text-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.contact-curricular .person-box p{
  font-size: 1.2rem;
}
.principal{
    color: var(--principal-color-text);
}
.price-table .table-striped .th-round{
  border-radius: 35px 0 0 35px;
}
.price-table .table-striped .th-round-2{
  border-radius: 0 35px 35px 0;
}
.price-table .table-striped th, .price-table .table-striped td{
  color: #000000;
  font-weight: 600;
}
#collapseCurricular-5 >.card-body{
  padding: 0;
}
.a-button-text{
  font-size: var(--big-button-size);
}
.bottom-8n{
  bottom:-8px;
}
.chevron-buttom{
  font-size: 20px;
  left: 1px;
}
.circle-buttom{
  font-size: 35px;
  bottom: 9px;
}
.align-buttom{
  text-align: right;
}
.pl-cv{
  padding-left: 3rem;
}
.principal{
  color:var(--principal-color-text);
}
.title-inclusion{
  font-size: 19px;
  margin-top: 10px;
}
ul.list-universitaria{
  list-style: none;
}
ul.list-universitaria li {
  font-weight: 400;
}
ul.list-universitaria li::before {
  content: "\2022";
  color: var(--accent-color);
  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-left: -0.7em;
  font-size: 2.2rem;
  height: min-content;
}
.section-posts{
  height: 100px;
}
.desktop-universitaria{
  display: block;
}
.mobile-universitaria{
  display: none;
}
.container-universitaria{
  margin-top: -9rem;
  position: relative;
  min-height: 450px;
}
.container-universitaria .col-posts{
  max-width: 30% !important;
  margin: 0 1.5% !important;
}
.container-universitaria .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: var(--general-color-text);
    opacity: 1 !important;
}
.carousel-indicators .active {
    background-color: #ff5b00 !important;
}
.container-content{
  position: relative;
}
.date-box{
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0 5px 5px 0 ;
  max-width: 220px;
  position: absolute;
  bottom: 0;
  left: 0px;
}
.p-top-400 {
  padding-top: 400px;
}
.m-bottom-n-448 {
  margin-bottom: -448px;
}
.difusion-banner-1{    
position: relative;
z-index: 1;
top: -125px;
}
.box-bg-light{
position: relative;
width: 100%;
height: 166px;
}
.max-width-95{
  max-width: 95%;
}
.position-n100{
  position: relative;
  top: -100px;
}
.position-n330{
  position: relative;
    top: -330px;
}
.ocultable{
  display:none;
}
.position-n30{
  position:relative;
  top: -30px;
}
  #accordionDAE img.img-fluid, img.img-mobile-100{
    height: 100% !important;
    width: 100%;
  }

/*=========================================  */

/*=========================================  */
  
            /*Media queries*/

/*=========================================  */
/*=========================================  */


@media (max-width: 1200px) {
  .slick-next.slick-arrow, .slick-prev.slick-arrow, .carousel-control-prev, .carousel-control-next{
  display: none !important;
  }
  .img-top {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    right: 0px;
    border: 10px solid #fff;
  }
  .img-bottom {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    right: 0px;
    border: 10px solid #fff;
  }
  .margin-top-60n {
    margin-top: 30px !important;
  }
  .bottom-100 {
    bottom: 10px !important;
  }
  .bottom-123 {
    bottom: 35px !important;
    left: 0px !important;
  }
  h4.principal-title-only:before {
    margin-left: -57px !important;
  }
  .cta-gestion .figure-caption {
    position: absolute;
    width: 100%;
    bottom: 0.3rem;
    z-index: 100;
  }
}

/*=========================================  */

@media (max-width: 993px) {
    .circles-mobile{
        position: static !important;
        margin-bottom: 0;
        padding: 70px;
      }
      .responsive-circles{
        display: block !important;
      }

}

/*=========================================  */

@media (max-width: 991px) {
  .circles-mobile{
  display: none;
  }
  .responsive-circles{
      display: flex !important;
  }
  .boxed-btn-gp {
    padding-top: 2rem;
  }
  .img-top {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  right: 0px !important;
  z-index: 1;
  border: 10px solid #fff;
  bottom: -120px !important;
  }
  .img-bottom{
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  right: 0px !important; 
  top: -120px !important;
  border: 10px solid #fff;
  }
  .m-bottom-120n{
    margin-bottom: -120px;
  }
  .margin-top-60n {
    margin-top: 0px !important;
  }
  .bottom-100 {
    bottom: 0px !important;
    left: 30px !important;
  }
.bottom-123 {
  bottom: 30px !important;
  left: 15px !important;
  }
  .boxed-btn-gp {
    padding-top: 2rem;
  }
  .person-box .remarkable-text.mt-5{
    margin-top: 15px !important;
  }
  .person-box img.rounded-circle{
    margin-top: 15px !important;
  }
  .cta-gestion .figure-caption {
    bottom: 3.3rem;
  }
  .align-buttom{
    text-align: left;
  }
  .pb-3-cv{
    padding-bottom:3rem;
  }
  .img-inclusion{
    text-align: center;
    padding-bottom: 1rem;
  }
  .date-box{
    max-width: 200px;
  }
  .desktop-universitaria{
    display: none;
  }
  .img-ocultable{
    display:flex;
    justify-content: center;
  }
  .left{
    text-align: left !important;
  }
  .esp-padding{
    padding: 0px !important;
  }
  .esp-desc-padding{
    padding: 1.5rem 4rem !important;
  }
  .flex-reverse{
    flex-flow: wrap-reverse;
  }
  .mobile-universitaria{
    display: block;
  }
  .container-universitaria .col-posts{
    position: relative;
    width: 100%;
    max-width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .container-universitaria{
    min-height: 600px;
  }
  .img-centro{
    text-align: center;
  }
}

/*=========================================  */

@media (max-width: 767.98px) {
  .totop-container, .social-share, .rotate-blog{
    display: none;
  }
  .direcciones .nav-item{
    margin-top: 20px;
  }
  .p-mobile.p-5{
    padding:1rem !important;
  }
  .p-mobile.pb-5{
    padding-bottom: 1rem !important;
  }
   .p-mobile.pt-5{
    padding-top: 1rem !important;
  }
  .p-mobile.px-5{
    padding:1rem !important;
  }
  .p-mobile .pl-5{
    padding-left: 0 !important;
  }
  .p-mobile .pl-2, .p-mobile.pb-5.no-pad{
    padding: 0 !important;
  }
  .nav.nav-pills{
    justify-content: center
  }
  .nav.nav-pills li a{
    margin-right: 0 !important;
  }
  .circles-mobile{
    position: static !important;
    margin-bottom: 0;
    padding: 70px;
    display: none;
  }
  .circles-mobile.col-12{
      margin-left: 0;
  }
  .mb-circle-mobile{
    margin-bottom: 1.5rem;
  }
  
  h1.principal-title, h1.principal-title-only  {
    text-align: center;
    display: block !important;
    font-size: 2.5rem;
   }
  h1.principal-title:before {
      display: none;
  }
  .accordion-plus .fa-stack {
      font-size: 1em;
  }
  .accordion-plus h4{
      font-size: 1rem;
  }
  .accordion-plus .card-body li{
     font-size: 16px !important;
  }
  .responsive-circles{
    display: flex !important;
  }
  .autoridades h3, .direcciones h4{
    margin-top: 1rem; 
  }
  .direcciones h4.light, .directorio h4.light, .center-sm, .center-sm.text-left{
    text-align: center !important;
  }
  .autoridades h4{
    font-size: 1.3rem;
  }
  img.img-special{
    width: auto;
  }
  .container.banner-container .row img{
    height: 100px;
    display: inline;
    padding: 8px;
    float: left;
  }
  .container.banner-container .row img{
    float: none;
  }
  .main-container-2{
    margin-top:0;
  }
  .table-cifras th, .table-cifras td, .larger-text-xl, .larger-text{
  font-size: 1rem;
  }
  a.btn-shadow{
    font-size: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .cta-gestion h3, .cta-gestion h2{
    font-size: 1.5rem;
  }
  .cta-gestion .figure-caption {
    bottom: 3.2rem;
  }
  .mt-4.m-mobile{
    margin-top: 0 !important;
  }
  .person-box .remarkable-text.mt-5{
    margin-top: 10px !important;
  }
  .desc-box{
    margin-bottom: 1.8rem;
  }
  .history .row .col p.py-4{
    padding: 0.5rem 0 !important;
  }
  .mv-text .accent-box {
    height: auto;
  }     
  .cta-gestion .figure-caption {
    bottom: 3.2rem;
  }
  .container-curricular .accordion h4, .container-curricular .accordion p,  .container-curricular .accordion ul, .container-curricular .accordion th, .container-curricular .accordion td,   .container-curricular .accordion a{
    font-size: 1rem !important;
  }
  .align-buttom{
    text-align: center;
  }
  .circle-buttom{
    bottom: 5px;
  }
  .a-button-text{
    font-size: var(--body-size);
  }
  .pl-cv{
    padding-left: 15px !important;
  }
  .img-inclusion{
    padding-top: 2rem;
  }
  ul.list-universitaria li::before {
    width: 1em;
  }
  .difusion-banner-1{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .flex-colmn{
    flex-flow: column !important;
  }
  .card{
    margin-bottom: 15px !important;
  }
}

/*=========================================  */
@media (max-width: 435px) {
  .cta-gestion .figure-caption {
    bottom: 1.2rem;
  }
  .esp-desc-padding{
    padding: 1.5rem 2rem !important;
  }
}

@media (max-width: 382px) {
  .responsive-circles{
    display: none !important;
  }
  .circles-mobile{
    position: static !important;
    margin-bottom: 0;
    padding: 70px;
    display: flex !important;
  }
}
@media (max-width: 360px) {
  .cta-gestion .figure-caption {
      bottom: 1rem;
  }
}